* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --bcolor:rgb(24, 68, 70);
    --bcolor2:rgba(0, 82, 110, 0.5);
}

.el-dialog {
  margin-top: 100px;
  height: 210px;
  padding: 5px;
  background-color: black;
  opacity: 50%;
}


